{% extends "main/_layout/main" %}

{% block main %}

<main id="main" class="article-detail">
  <section class="text-banner"> 
    <div class="container">
      <h1>Page Not Found</h1>
    </div>
  </section>
  <section class="main-content">
    {{ pageErrors.pageNotFoundError }}
  </section>

  <section class="sub-content">
  </section>
  <section class="article-info">
  </section>
</main>

{% endblock %}