.button p, .white-button p, .arrow-link p {
  padding: 0; margin-right: 1em; 
  display: inline;
}

a.button, .button a,
input.button, button.button,
.freeform-column button {
  &, &:link, &:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;

    padding: .75em 2em;
    margin: 0 0 10px;

    background: $secondary-color;
    border: 0px;
    border-radius: 100px;

    transition: .25s all ease-in-out;
    text-align: center;

    color: $color-white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
    text-decoration: none !important;
    text-shadow: none;
    letter-spacing: 0.16px;

    svg {
      max-height: 1rem;
      margin-left: 8px;
      pointer-events: none;
      
      path { fill: $color-white; }
    }
  }

  &:hover, &:active, &:focus {
    color: white;
    background: $secondary-color-alt;
    box-shadow: 0px 1px 2px rgba($color-black, .3),
                0px 2px 15px rgba($color-black, .1);
  }
}
a.button.white-button, .button.white-button a {
  &, &:link, &:visited {
    background-color: $color-white;
    border: 1px solid rgba($link-color, .33);
    color: $link-color !important;
  }

  &:hover, &:active, &:focus {
    background: $color-offwhite;
    border-color: $primary-color;
    color: $primary-color !important;
  }
}

a.white-button, .white-button a,
input.white-button, button.white-button {
  &, &:link, &:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;

    padding: .75em 2em;
    margin: 0px;

    background-color: $color-white;
    border: 1px solid rgba($link-color, .33);
    border-radius: 100px;

    transition: .25s all ease-in-out;
    text-align: center;

    color: $link-color !important;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
    text-decoration: none !important;
    text-shadow: none;
    letter-spacing: 0.16px;

    svg {
      height: 1rem;
      margin-left: 8px;
      pointer-events: none;
      
      path { fill: $link-color; }
    }
  }

  &:hover, &:active, &:focus {
    background: $color-offwhite;
    border-color: $primary-color;
    color: $primary-color !important;
  }
}

.text-button p {
  padding: 0;
}

a.text-button, .text-button a,
input.text-button, button.text-button {
  &, &:link, &:visited {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      display: block; content: '';
      height: 24px; width: 24px; flex: 0 0 24px;
      background: url($image-path + "icon-arrow.svg") no-repeat center;
      background-size: contain;
      margin-right: 5px;
      transition: transform .3s ease-in-out;
    }
  }
  &:hover, &:active, &:focus {

    &:before {
      transform: translateX(2px);
    }
  }
}

a.arrow-link, .arrow-link a {
  &, &:link, &:visited {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: rem(16);
    font-weight: 700;
    line-height: 1.625;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    text-decoration: none;

    &:after {
      display: block; content: '';
      height: 7px; width: 12px; flex: 0 0 12px;
      background: url($image-path + "icon-arrow-thin.svg") no-repeat center;
      background-size: contain;
      margin-left: 5px;
      transition: transform .3s ease-in-out;
    }

    .location-content & {
      color: $primary-color;
      &:after {
        background-image: url($image-path + "icon-arrow-thin-primary.svg");
      }    
    }
  }
  &:hover, &:active, &:focus {
    color: $primary-color;

    &:after {
      transform: translateX(2px);
        background-image: url($image-path + "icon-arrow-thin-primary.svg");
    }

    .location-content & {
      color: $secondary-color;
      &:after {
        background-image: url($image-path + "icon-arrow-thin.svg");
      }    
    }
  }

}

