.feature-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primary-color-alt;
  border: $side-gap solid $bkgd-body;
  
  margin: 0 auto 2em;
  //max-width: $xlarge-screen;
  max-width: initial;

	@media all and (min-width: $medium-screen) {
    flex-direction: row;
	}

	.feature-image {
		flex: 0 0 48%;
    width: 100%;
    //aspect-ratio: 4 / 3;
    aspect-ratio: 1 / 1;
    align-self: stretch;
		margin: 0;
		overflow: hidden;

    figure {
      position: relative;
      margin: 0; padding: 0;
      height: 100%; width: 100%;
    }
		img {
			width: 100%; height: 100%;
			object-fit: cover;
		}
  }

	.feature-text {
		flex: 0 0 52%;
    line-height: 1.5;
    padding: 3em 5em;

    @media all and (max-width: $medium-screen) {
      width: 90%;
      padding: 3em 5%;
      max-width: 100%;
    }
  }
  p.small-header {
    margin: 0 !important;
  }

  h2, h3 {
    margin-top: 0px;
  }
  .feature-desc {
    font-size: em(24);
    line-height: 1.75;
  }

  &.light {
    background: $color-offwhite;
    color: $font-color;
  }
  &.dark {
    background: $primary-color-alt;
    color: $color-white;

    .small-header, h2 { color: inherit; }
    .button.hollow-btn a {
      &, &:link, &:visited {
        border-color: rgba($color-white, .33);
        color: $color-white !important;
      }
      &:hover, &:active, &:focus {
        border-color: $secondary-color-alt;
        color: $secondary-color-alt !important;
      }
    }
  }

	&.left {
    @media all and (min-width: $medium-screen) {
      flex-direction: row;
    }
	}
	&.right {
		@media all and (min-width: $medium-screen) {
			flex-direction: row-reverse;
		}
	}
}
