$grid-height: 150px;

.image-gallery {
  margin: 2em 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: $grid-height;
  grid-row-gap: 2em;
  place-items: center;

  @media all and (min-width: $medium-screen) {
    grid-template-columns: repeat(3, 1fr);
  }

  figure {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center left;
    margin: 0;
    text-align: left;

    a:hover {
      opacity: .8;
    }

    img {
      max-width: 85%;
      max-height: $grid-height * .85;
    }
  }
}
